@layer components {
  .bar-of-progress {
    z-index: 50;
  }
  .bg-brand {
    @apply bg-[#344AFD];
  }

  .w-calc-6 {
    width: calc(100% - theme("spacing.6"));
  }
  .max-w-calc-6 {
    max-width: calc(100% - theme("spacing.6"));
  }
  .max-w-calc-10 {
    max-width: calc(100% - theme("spacing.10"));
  }
  .max-w-calc-11 {
    max-width: calc(100% - theme("spacing.11"));
  }
  .h-main {
    height: calc(100vh - theme("spacing[17.5]"));
  }
  .max-h-main {
    max-height: calc(100vh - theme("spacing[17.5]"));
  }
  .max-h-notification {
    max-height: calc(100vh - theme("spacing[17.5]") - theme('spacing.10'));
  }
  .max-h-notification-mobile {
    max-height: calc(100vh - theme("spacing[17.5]") - theme("spacing.48") - theme("spacing.19") - theme('spacing.10'));
  }
  .max-h-left-sidebar {
    max-height: calc(100vh - theme("spacing[21.5]") - theme('spacing.3'));
  }
  .max-h-sidebar {
    max-height: calc(100vh - theme("spacing[21.5]"));
  }
  .focus-outline {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500;
  }
  .text-title {
    @apply text-2xl lg:text-3xl font-extrabold tracking-tight text-gray-900;
  }

}

/* @variants responsive { */
@layer utilities {
  .max-h-main {
    max-height: calc(100vh - theme("spacing[17.5]"));
  }
  .max-h-notification {
    max-height: calc(100vh - theme("spacing[17.5]") - theme('spacing.10'));
  }
  .max-h-notification-mobile {
    max-height: calc(100vh - theme("spacing[17.5]") - theme("spacing.48") - theme("spacing.19") - theme('spacing.10'));
  }
}